// Google "Turret Road" Font Import
@import url("https://fonts.googleapis.com/css?family=Turret+Road&display=swap");

// Google "Shadows Into Light" Font Import
@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap");

// Global Variables
$font-color: white;

// Top Nav Bar
$nav-background-color: #333333;
$nav-hover-color: black;
$nav-font-color: white;

// Blog Button
$blog-button-color: #b90415;
$blog-button-color-hover: #d3071b;

// Forums Button
$forums-button-color: #103063;
$forums-button-color-hover: #143f85;

// Section Backgrounds
$dark-background-color: #252525;
$light-background-color: darkgray;

// Back to Top Button
$b2t-background-color: rgba(30, 144, 255, 0.5); // html color #1E90FF
$b2t-color: white;
$b2t-font-size: 20px;
$b2t-font-size-mobile: 12px;
$b2t-border-radius: 5px 20px 5px;
$b2t-hover-background-color: #135ca3;

// Mixins
@mixin flex-center($flex-direction) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: center;
  align-items: center;
}

@mixin global-font() {
  font-family: "Turret Road", cursive;
  line-height: 1.6;
  margin: 0;
}

@mixin social-panel-font($font-size) {
  font-family: "Shadows Into Light", cursive;
  font-size: $font-size;
}
