/*
    Style for the sticky left side social media panel
    fixed position with transparency and animation
*/

// Imports
@import "./config";

.social-nav {
  position: fixed;
  top: 40%;
  background: rgba(0, 0, 0, 0);
  @include social-panel-font(20px);
  ul {
    width: 50%;
    list-style-type: none;
    padding: 0;
    transform: translateX(-270px);
    li {
      display: block;
      margin: 5px;
      background-color: rgba(0, 0, 0, 0.5);
      width: 300px;
      text-align: right;
      padding: 10px;
      border-radius: 0 30px 30px 0;
      transition: all 1s;
      &:hover {
        transform: translateX(110px);
      }
      a {
        display: inline;
        color: white;
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0);
      }
      i {
        text-align: center;
        margin-left: 14px;
        color: black;
        background-color: white;
        padding: 10px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 20px;
        transform: rotate(0deg);
      }
      &:hover i {
        transform: rotate(360deg);
        transition: all 1s;
      }
    }
    .twitter:hover {
      background-color: #55acee;
    }
    .facebook:hover {
      background-color: #3d5999;
    }
    .youtube:hover {
      background-color: #c4302b;
    }
  }
}
